body{
    padding: 0px;
    margin: 0px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.6;
}

/* Header styles */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
    font-family: lato;
	background-color: rgb(0, 0, 0);
	color: white;
	height: 4rem;
}

.reachUs-button {
	padding: 1rem;
	background-color: #0dac30;
	border: none;
	color: white;
	border-radius: 4px;
	cursor: pointer;
    font-family: lato;
}
.reachUs-button:hover{
	background-color: #1ac840;
}
.logo {
	font-size: 2rem;
}

nav {
	width: 30rem;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav ul li a {
	font-size: 1.2rem;
	padding: 1rem;
	text-decoration: none;
	color: white;
}
footer {
	padding: 20px;
	text-align: center;
	background-color: rgb(0, 0, 0);
	color: white;
    bottom: 0;
    margin: 17.75% 0px 0px 0px;
}

#call{
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
	background-color: #0dac30;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
h1{
    position: absolute;
    margin: 0px;
    font-size: 50pt;
}
#me{
    margin: 58px 0px 0px 0px;
}
.me{
    width: 500px;
    margin: 200px auto;
    position: relative;
}
@media only screen and (max-width: 768px) {
	.logo {
		display: inline-block;
	}
	nav ul{
		justify-content: space-evenly;
	}
	.me{
		height: 25vh;
		width: 79vw;
		position: relative;
	}
	footer {
		padding: 20px;
		text-align: center;
		background-color: rgb(0, 0, 0);
		color: white;
		bottom: 0;
		margin: 75% 0px 0px 0px;
	}
	.reachUs-button {
		height: 55px;
		padding: 0px 10px 0px;
	}
}